<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/cfe41e68-4062-4fd5-9192-4f1fcfc7ed99/resourceGroups/UEFA-Edge-Demo/providers/Microsoft.Web/sites/RedZone-UefaDemo-RefAdmin</ResourceId>
    <ResourceGroup>UEFA-Edge-Demo</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://redzone-uefademo-refadmin-fhfubfdvazavd6a4.uksouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a29af2fd-27eb-4e9e-a399-4abfde57d1fa</ProjectGuid>
    <PublishUrl>https://redzone-uefademo-refadmin-fhfubfdvazavd6a4.scm.uksouth-01.azurewebsites.net/</PublishUrl>
    <UserName>$RedZone-UefaDemo-RefAdmin</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>